/* 

This file contains all your CSS style rules. 
indent = 2 spaces, not tabs 

Reference: http://www.w3schools.com/css/default.asp

*/

/* because every browser has a built in stylesheet we have to reset those properties that we want to manipulate later. We do this by setting those properties to zero for the entire HTML document and any other tag selectors we want to redefine from scratch*/

html h1 {
  margin: 0;
}

/* next we set up those properties that we want to apply everywhere that is visible on the page using the body selector. Notice the "font-family" */

/* The container sits in the middle of the page and is a fixed width Reference: http://www.w3schools.com/css/css_boxmodel.asp
*/

body {
  background-image: url("background.jpg");
  margin: 0;
  padding: 0;
  font-family: Papyrus, fantasy;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px

}

#container {
  overflow: none;
  width: 1000px;
  height: 2500px;
  margin: 0 auto;
  background-color: #C2DDFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

#header {
  background-color: black;
  border: 1px solid; 
  width: 998px;
  height: 50px;
  margin-bottom: 50px;
  overflow: none;
  text-align: justify;
}

#nav ul {
  margin: 0;
  margin-top: 12px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#nav ul li { display: inline; }

#nav ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #036;

}

#nav ul li a:hover {
  color: #fff;
  background-color: #369;

}

.content {
  background-color: white;
  width: 800px;
  height: 1800px;
  margin top: 20px;
  overflow: auto;
  margin-left: 90px;
  margin-bottom: 20px;
  /* Box Shadow */
    /* Opera */
    -o-box-shadow: 5px 5px 5px #666;
    /* IE */
    -ms-box-shadow: 5px 5px 5px #666;
    /* Mozilla FireFox */
    -moz-box-shadow: 5px 5px 5px #666;
    /* Google Chrome */
    -webkit-box-shadow: 5px 5px 5px #666;
    /* Normal */
    box-shadow: 5px 5px 5px #666;

}


.section_heading {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
}

.section_content {
  margin-bottom: 200px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid;
}

.footer {
  background-color: black;
  border: 1px solid; 
  width: 998px;
  height: 50px;
  overflow: none;
  margin-top: 140px;
}


























